# compiled python code
*.pyc

# vim temporary backup
.*.sw*

ligand-expo/A/
ligand-expo/C/
ligand-expo/DA/
ligand-expo/DC/
ligand-expo/DG/
ligand-expo/DT/
ligand-expo/G/
ligand-expo/U/

src/AllDist
src/MissingRNAatom
src/MissingResidue
src/NaTorsion
src/NaTorsion2
src/BPtorsion
src/newChainID
src/cssr
src/NAbuilder
src/*.pdb
src/*.dssr

stat/*gz
stat/*hpp
